<!doctype html>
<html lang="fr">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/custom.css">
    <title>Messagerie nickel</title>
</head>
<body class="bg-dark">
<div class="container">
    <div class="card bg-secondary text-white mt-5">
        <ul class="list-group list-group-flush">
            {% for groupe in groupes %}
                <li class="list-group-item list-group-item-darker list-group-item-action d-flex justify-content-between align-items-center">
                    <a href="/messagerie/{{groupe.id}}">{{groupe.nom}}</a>
                    <div class="d-flex">
                        <a data-groupid="{{groupe.id}}" class="btn btn-sm btn-warning mr-1 buttonmodificationgroupes" role="button">Modifier</a>
                        <a class="btn btn-sm btn-danger" href="/deletegroup/{{groupe.id}}" role="button">Supprimer</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <div class="card-footer text-right text-muted">
            <a data-toggle="modal" data-target="#rajoutGroupesModal" class="card-link text-white">Rajouter des groupes</a>
            <a href="/welcome" class="card-link text-white">Revenir à la page d'acceuil</a>
        </div>
    </div>
</div>
<!-- Modal pour rajouter des groupes -->
<div class="modal fade rajoutmodificationmodals" id="rajoutGroupesModal" tabindex="-1" aria-labelledby="rajoutGroupesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content bg-secondary text-white">
            <div class="modal-header">
                <h5 class="modal-title" id="rajoutGroupesModalLabel">Rajouter des groupes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-0">
                <ul class="list-group list-group-flush">
                    {% for utilisateur in utilisateurs %}
                        {% if utilisateur.id != idutilisateurcourant %}
                            <li class="list-group-item list-group-item-darker list-group-item-action d-flex justify-content-between align-items-center">
                                {{utilisateur.prenom}} {{utilisateur.nom}}
                                <span class='d-none' id='groupId'>{{utilisateur.id}}</span>
                                <span id='groupChecked'></span>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Annuler</button>
                <form class="form-inline" action="/addgroup" method="POST">
                    <input type="hidden" name="users" value="{{idutilisateurcourant}}">
                    <input type="text" name="grouptitle" class="form-control bg-secondary text-white flex-fill mr-2" id="inputGroupTitle" placeholder="Tapez le nom du groupe..." required>
                    <button type="submit" class="btn btn-primary">Rajouter</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal pour modifier des groupes -->
<div class="modal fade rajoutmodificationmodals" id="modificationGroupesModal" tabindex="-1" aria-labelledby="modificationGroupesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content bg-secondary text-white">
            <div class="modal-header">
                <h5 class="modal-title" id="modificationGroupesModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-0">
                <ul class="list-group list-group-flush">
                    {% for utilisateur in utilisateurs %}
                        {% if utilisateur.id != idutilisateurcourant %}
                            <li class="list-group-item list-group-item-darker list-group-item-action d-flex justify-content-between align-items-center">
                                {{utilisateur.prenom}} {{utilisateur.nom}}
                                <span class='d-none' id='groupId'>{{utilisateur.id}}</span>
                                <span id='groupChecked'></span>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Annuler</button>
                <form class="form-inline" action="/modifygroup" method="POST">
                    <input type="hidden" name="groupid" id="inputGroupId">
                    <input type="hidden" name="users" value="{{idutilisateurcourant}}">
                    <input type="text" name="grouptitle" class="form-control bg-secondary text-white flex-fill mr-2" id="inputGroupTitle" placeholder="Tapez le nom du groupe..." required>
                    <button type="submit" class="btn btn-primary">Modifier</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/bundle.js"></script>
</body>
</html>
