<!doctype html>
<html lang="fr">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/custom.css">
    <title>Messagerie nickel</title>
</head>
<body class="bg-dark">
<div class="container">
    <div class="card bg-secondary text-white mt-5">
        <div class="card-header">
            {{nomgroupe}}
        </div>
        <div class="card-body">
            {% for message in messages %}
                {% if message.id_user_auteur == idutilisateurcourant %}
                    <div class="d-flex flex-column align-items-end mb-1">
                        <small class="text-light mb-0">{{message.nomprenomauteur}}</small>
                        <div class="alert alert-primary mb-0" role="alert">
                            {{message.contenu}}
                        </div>
                    </div>
                {% else %}
                    <div class="d-flex flex-column align-items-start mb-1">
                        <small class="text-light mb-0">{{message.nomprenomauteur}}</small>
                        <div class="alert alert-dark mb-0" role="alert">
                            {{message.contenu}}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            {% if messages %}
                <form class="form-inline mt-3 mb-0" action="/addmessage" method="POST">
            {% else %}
                <form class="form-inline mt-0 mb-0" action="/addmessage" method="POST">
            {% endif %}
                <input type="hidden" name="groupid" value="{{idgroupe}}">
                <input type="hidden" name="authorid" value="{{idutilisateurcourant}}">
                <textarea rows=1 type="text" class="form-control bg-secondary text-white flex-fill mr-2" id="inputMessage" name="content" placeholder="Tapez le message..." required></textarea>
                <button type="submit" class="btn btn-primary">Envoyer</button>
            </form>

        </div>
        <div class="card-footer text-right text-muted">
            <a href="/groupes" class="card-link text-white">Revenir au choix de groupes</a>
        </div>
    </div>
</div>
<script src="/bundle.js"></script>
</body>
</html>
