<!doctype html>
<html lang="fr">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/custom.css">
    <title>Connectez-vous !</title>
</head>
<body class="bg-dark">
<div class="container">
    <div class="card bg-secondary text-white mt-5">
        <div class="card-body">
            <form action="authenticate" method="POST">
                {% if message|default %}
                <div class='alert alert-info' role='alert'>{{message}}</div>
                {% endif %}
                <div class="form-group">
                    <label for="inputEmail">Adresse Email</label>
                    <input aria-describedby="emailHelp" class="form-control bg-secondary text-white" id="inputEmail"
                           name="email" placeholder="Adresse Email" autocomplete="email" required type="email">
                    <small class="form-text text-light" id="emailHelp">Il s'agit de l'adresse mail utilisé durant la création de votre compte !</small>
                </div>
                <div class="form-group">
                    <label for="inputPassword">Mot de passe</label>
                    <input class="form-control bg-secondary text-white" id="inputPassword" name="password"
                           placeholder="Mot de passe" required type="password" autocomplete="current-password">
                </div>
                <div class="form-group form-check">
                    <input checked="checked" class="form-check-input" id="checkSubscribe" name="subscribe"
                           type="checkbox">
                    <label class="form-check-label" for="checkSubscribe">Ne m'oublie pas :(</label>
                </div>
                <button class="btn btn-primary" type="submit">Valider</button>
            </form>
        </div>
        <div class="card-footer text-right text-muted">
            <a class="card-link text-white" href="signup">Pas encore inscrit ? Cliquez ici !</a>
        </div>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>
</html>
