
<!doctype html>
<html lang="fr">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>Connectez-vous !</title>
    </head>
    <body>
        <div class="container">
            <div class="card mt-5">
                <div class="card-body">

                    <form action="authenticate" method="POST">
                        {% if message|default %}
                        <div class='alert alert-info' role='alert'>{{message}}</div>
                        {% endif %}
                        <div class="form-group">
                            <label for="exampleInputEmail1">Nom d'utilisateur</label>
                            <input name="username" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Donnez votre nom d'utilisateur...">
                            <small id="emailHelp" class="form-text text-muted">Vous avez la liberté de choisir n'importe quel !</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Mot de passe</label>
                            <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Tapez le mot de passe...">
                        </div>
                        <div class="form-group form-check">
                            <input name="subscribe" type="checkbox" checked="checked" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Ne m'oublie pas :(</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Valider</button>
                    </form>
                    </div>
                    <div class="card-footer text-right text-muted">
                        <a href="signup" class="card-link">Pas encore inscrit ? Cliquez ici !</a>
                    </div>

                </div>
            </div>
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
