<!doctype html>
<html lang="fr">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/custom.css">
    <title>Inscrivez-vous !</title>
</head>
<body class="bg-dark">
<div class="container">
    <div class="card bg-secondary text-white mt-5">
        <div class="card-body">
            <form action="adduser" method="POST">
                {% if message|default %}
                <div class='alert alert-info' role='alert'>{{message}}</div>
                {% endif %}
                <div class="form-group">
                    <label for="inputEmail">Adresse Email</label>
                    <input id="inputEmail" name="email" type="email" class="form-control bg-secondary text-white"
                           aria-describedby="emailHelp" placeholder="Adresse Email" autocomplete="email" required>
                    <small id="emailHelp" class="form-text text-light">Vous vous connecterez avec votre adresse email
                        dans le futur !</small>
                </div>
                <div class="form-group">
                    <label>Données personelles</label>
                    <input name="nom" type="text" class="form-control bg-secondary text-white" id="inputNom" aria-describedby="persoHelp"
                           placeholder="Nom" autocomplete="family-name" required>
                    <input name="prenom" type="text" class="form-control bg-secondary text-white mt-2" id="inputPrenom"
                           aria-describedby="persoHelp" placeholder="Prénom" autocomplete="given-name" required>
                    <small id="persoHelp" class="form-text text-light">Ces informations pourrons être anonymisés
                        !</small>
                </div>
                <div class="form-group">
                    <label for="inputNais">Date de naissance</label>
                    <input name="dateNaissance" id="inputNais" type="date" class="form-control bg-secondary text-white" autocomplete="bday" required>
                </div>
                <div class="form-group">
                    <label>Mot de passe</label>
                    <input name="password" type="password" class="form-control bg-secondary text-white" id="inputPassword"
                           placeholder="Mot de passe" autocomplete="new-password"
                           onchange="if(this.checkValidity()) form.repassword.pattern = this.value;" required>
                    <input name="repassword" type="password" class="form-control bg-secondary text-white mt-2" id="inputConfirmPassword"
                           placeholder="Confirmation mot de passe" autocomplete="off"
                           onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Les mots de passe ne correspondent pas !' : '');"
                           required>
                </div>
                <button type="submit" class="btn btn-primary">Sauvegarder</button>
            </form>
        </div>
        <div class="card-footer text-right text-muted">
            <a href="signin" class="card-link text-white">Déjà inscrit ? Cliquez ici !</a>
        </div>
    </div>
</div>
<script src="/bundle.js"></script>
</body>
</html>
